{% extends "base.html" %}

{% block name %}

    <li> Отвечаем на набор тестов :  {{course}}  </li>

{% endblock%}



{% block index%}




<form action="/course/{{course.slug}}/testing/" method="post">
				{% csrf_token %}
               <input type="hidden" name="question_cur" value="{{question_cur_id}}" >
	           <input type="hidden" name="result" value="{{result}}" >

	           <h3> Вопрос звучит так {{question}} </h3>
	           <ol>
					<li class="v_list">

							<fieldset>
								<ul>
                                   {% for answer in answer_list %}

                                    <li> <input type="checkbox" id="answer_arr_{{answer.id}}"  name="answer_id_list" value="{{answer.id}}" />
									<label for="answer_arr_{{answer.id}}" >  {{answer}} </label></li>

                                   {% endfor %}
								</ul>
							</fieldset>
					</li>
				</ol>
	            {% if error_message %}
	            <li> {{error_message}}</li>
	            {% endif %}
				<div class="btn"><input type="submit" value="прийняти вiдповiдi" /></div>
			</form>







{% endblock %}


