{% extends "base.html" %}

{% block name %}

    <li> Отвечаем на набор тестов :  {{course}}  </li>

{% endblock%}



{% block index%}

    <li> Результат {{result}}</li>


<form action="/course/{{course.slug}}/testing/" method="post">
				{% csrf_token %}
               <input type="hidden" name="question_cur" value="{{question_cur_id}}" >
	           <input type="hidden" name="result" value="{{result}}" >
	           <h3> Id question :  {{question_cur_id}} </h3>
	           <h3> Вопрос звучит так {{question}} </h3>
	           <ol>
					<li class="v_list">

							<fieldset>
								<ul>


                                    <li> <input type="checkbox" id="answer_arr_id"  name="answer_arr" value="1" />
									<label for="answer_arr_id" >  " Типо проверка Post "</label></li>




								</ul>
							</fieldset>

					</li>








				</ol>
				<div class="btn"><input type="submit" value="прийняти вiдповiдi" /></div>
			</form>







{% endblock %}


