{% extends "base.html" %}
 
 {% block name %} 

<li> {{title_name}} </li>

{% endblock%}
 
 
 
 

{% block index %}



      <div class="login-block">
		 <form action="/auth/login/" method="post" class="login_form">
		 {% csrf_token %}
            <fieldset>
			<ul>
				<li class="signin_username"><label for="/auth/login/" class="spec">Логін:</label><input type="text" id="login" name="login" placeholder="yourmail12345@mail.com" /></li>				
                <li class="signin_password">
					<label for="pass" class="spec" >Пароль:</label><input type="password" id="pass" name="password"  />				
					
					<input type="submit" class="btn_login" value="Вхід" title="Вхід">
				</li>	
			
                <li>					
					<p class="forgotPassword"><a title="Забули пароль?" href="/">Забули пароль?</a></p>
					<p class="registration"><a title="Зареєструватися" href="/auth/register/">Зареєструватися</a></p>
				</li>
                </ul>
            </fieldset>
        </form>
        </div>

{% endblock %} 	 
	 