{% extends 'base.html' %}
{% block index%}
<div class="content">
    <div class="container">
      <div class="row">
      {% if page.text %}
        <div class="page__text">
          {{ page.title|safe|default:'' }}
        </div>
      {% endif %}
      {% if object_list %}
        {% for object in object_list %}
        <div class="col-lg-12">
          <div class="page__title">
            <h1>{{ object.title|default:'' }}</h1>
          </div>
          <div class="page__text">
            {{ object.about|safe|default:'' }}
          </div>
        </div>
        {% endfor %}
      {% endif %}

      </div>
    </div>
  </div>

{% endblock %}